@model IEnumerable<Backend.Carro>

<h1>Carros</h1>

@Html.ActionLink("Cadastrar", "Create", "Carro", null, new { @class = "btn btn-primary" })
@Html.ActionLink("Resetar Filtros", "Index", "Carro", null, new { @class = "btn btn-primary" })

<br />
<br />
<table class="table table-responsive">
    <tr>
        <th>Nome</th>
        <th>Modelo</th>
        <th>Fabricacao</th>
        <th>Cor</th>
        <th>Placa</th>
        <th>Marca</th>
        <th></th>
    </tr>
    @foreach (var carro in Model)
    {
        <tr>
            <td>@carro.Nome</td>
            <td>@carro.Modelo</td>
            <td>@carro.Ano</td>
            <td>@carro.Cor</td>
            <td>@carro.Placa</td>
            <td>@carro.Marca.Nome</td>
            <td>
                @Html.ActionLink("Registro", "Details", "Registro", new { id = carro.Id })
                @Html.ActionLink("Agendamentos", "Details", "Agenda", new { id = carro.Id })
                @Html.ActionLink("Editar", "Edit", new { id = carro.Id })
                @Html.ActionLink("Excluir", "Delete", new { id = carro.Id }, new { onclick = "return confirm('Deseja realmente excluir?');" })
</tr>
    }

</table>
<table>
    <tr>
        @using (Html.BeginForm("FilterIndex", "Carro", FormMethod.Post))
        {
            <td><input type="submit" value="Filtrar por Placa " class="btn btn-primary"  /></td>
            <td>@Html.TextBox("Placa",null, new { @class = "form-control", @required = true})</td>
        }
    </tr>
    <tr>
        @using (Html.BeginForm("FilterIndex", "Carro", FormMethod.Post))
        {
        <td><input type="submit" value="Filtrar por Marca" class="btn btn-primary" /></td>
        <td> @Html.DropDownList("Marca", ViewBag.selectMarcas, "selecione", new { @class = "form-control", @required = true })</td>
        }
    </tr>
</table>