@model Backend.AgendaManutencao
<h1>Adicionar Registro</h1>
@{ 
    string dataHoje = DateTime.Today.ToString("yyyy-MM-dd");
    string dataLimite = DateTime.Today.AddDays(999).ToString("yyyy-MM-dd");
}

@using (Html.BeginForm("Create", "Agenda", FormMethod.Post))
{

<div class="col-md-3">
        <div class="form-group">
            @Html.HiddenFor(x => x.Id)
            @Html.Label("Placa")
            @Html.DropDownList("IdCarro", ViewBag.selectCarros, "selecione", new { @class = "form-control", @required = true })
        </div>
        <div class="form-group">
            @Html.Label("Tipo de Manutenção")
            @Html.DropDownList("IdManutencao", ViewBag.selectManutencoes, "selecione", new { @class = "form-control", @required = true })
        </div>
        <div class="form-group">
            @Html.Label("Data da manutenção")
            @Html.TextBoxFor(x => x.Data, new { @class = "form-control", @required = true, @type = "date", @min = dataHoje, @max = dataLimite })
        </div>



    <input type="submit" value="Salvar" class="btn btn-primary" />
    @Html.ActionLink("Voltar", "Index", "Home", null, new { @class = "btn btn-primary" })

</div>

}