@model IEnumerable<Backend.RegistroManutencao>

@{

}
<h1>Registros de Manutenções</h1>

@Html.ActionLink("Registrar Manutenção", "Create", "Registro", null, new { @class = "btn btn-primary" })



<br />
<br />
<table class="table table-responsive">
    <tr>
        <th>Veículo</th>
        <th>Cor</th>
        <th>Placa</th>
        <th>Tipo de Manutenção</th>
        <th>Quilometragem</th>
        <th>Data</th>

        <th></th>
    </tr>
    @foreach (var registro in Model)
    {
        <tr>
            <td>@registro.Carro.Nome</td>
            <td>@registro.Carro.Cor</td>
            <td>@registro.Carro.Placa</td>
            <td>@registro.Manutencao.Nome</td>
            <td>@registro.Quilometragem</td>
            <td>@registro.Data.ToShortDateString()</td>
            <td>
                @Html.ActionLink("Próxima Manutenção", "Proxima", "Registro", new { id = registro.Id })
        </tr>
    }

</table>
<table>
    <tr>
        @using (Html.BeginForm("FilterIndex", "Registro", FormMethod.Post))
        {
            <td><input type="submit" value="Filtrar por Placa" class="btn btn-primary" /></td>
            <td>@Html.DropDownList("IdCarro", ViewBag.selectCarros, "selecione", new { @class = "form-control", @required = true })</td>

        }
    </tr>
</table>
@Html.ActionLink("Voltar", "Index", "Home", null, new { @class = "btn btn-primary" })
